<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Echo Application</title>
</head>
<body>
  <form th:object="${echoForm}" th:action="@{/echo/hello}" method="post">
    <div>
      <label for="url">Input URL:</label>
      <input th:field="*{url}">
      <span th:errors="*{url}" style="color: red;"></span>
    </div>
    <div>
      <label for="code">Input CODE:</label>
      <input th:field="*{code}">
      <span th:errors="*{code}" style="color: red;"></span>
    </div>
    <input type="submit">
  </form>
</body>
</html>
